@model IEnumerable<Employees>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Employees in Model)
        {
            <tr>
                <td>@Employees.Id</td>
                <td>@Employees.Name</td>
                <td>@Employees.Department</td>
            </tr>
        }
    </tbody>
</table>
