@model IEnumerable<EmployeeManagement.Models.Employees>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Employees in Model)
                {
                <tr>
                    <td>@Employees.Id</td>
                    <td>@Employees.Name</td>
                    <td>@Employees.Department</td>
                </tr>
                }
            </tbody>
        </table>
    </body>
    </html>
